/* CSS Style Code */
/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@media only screen and (max-width: 800px) {
    .width {
      flex-direction: column-reverse;
    }
  }

.HStack {
    padding-top: 2%;
    /* background-color: #5c5c5c85; */
    width: 400px;
    display: inline-flex;
    align-items: stretch;
}
.insideButton {
    flex: 1;
    margin-right: 2.5%;
}

.rightSide {
   flex: 1;
   overflow-y: scroll;
   justify-content: center;
   height: 75vh;
   margin-right: 10%;
}

.rightButtons {
    justify-content: center;
   /*  padding-left: 10%;
    padding-right: 10%; */
    width: 100%;
    flex: 1;
    padding: 1%;
}
.rightButton {
    flex: 1;
    width: 50%;
    margin-right: 2%;
}
.stickyDiv {
    justify-content: left;
}
button:hover, .material-symbols-outlined:hover{  
    cursor: pointer; 
}
.adjustmentButton {
    background-color: #d8d8d8;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

.helpIcon {
    
    font-size: 350%;
    position: fixed;
    padding: 15px;
    right: 0px;
    bottom: 0px;

}

h1, h2, h3, div, text, body, table, tbody, p {
    font-family: 'Cutive Mono', monospace;
}

.wide {

display: flex;
flex-wrap: wrap;
flex: 1;


}



/* to be edited - Just sample */


td { 
    padding: 8px;
    border: 1px solid black;  
}
.fullWidthButton {
    width: 300px;
    text-align: center;
}
.highlight {
    background-color: #cbcbcb;
    border: 2px solid black; 
}
.highlightGreen {
    background-color: #bbffc4;
    border: 2px solid black; 
}
.allButTable {
    width: 50%;
    margin-left: 1%;
}
.tableDiv {
    width: 100%;
}
.tableGrid {
    padding-top: 3.25%;
    padding-right: 5%;
    padding-left: 5%;
}
.tableNumCell {
    font-size: 125%;
    font-weight: bold;
    width: max-content;
    flex: 1;
}
.tableMoveCell {
    font-size: 125%;
    width: 50%;
}


.popup {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 

    animation-name: fadeIn;
    animation-duration: 0.5s 
}
.popupContent {
    position: relative;
    background-color: #EBEBEB;
    margin: 5% auto;
    padding: 0;
    width: 75%;
    border: 3px solid #5c5c5c;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: slideUp;
    animation-duration: 0.5s
}
.popupHeader {
    padding: 2px 16px;
    background-color: #5c5c5c;
    color: white;
}
.popupBody {
    padding: 2px 16px;
}
.popupClose {
    color: #ffffff;
    float: right;
    font-size: 48px;
    font-weight: bold;
}
.popupClose:hover {
    cursor: pointer;
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes slideUp {
    from {top: 200%; opacity: 0}
    to {top: 0; opacity: 1}
}

